---
import Layout from "@layouts/Layout.astro";
import MetaInfo from "@components/blog/MetaInfo.astro";
import { getWordsCount } from "../../utils/helpers";
import TableOfContent from "@components/blog/TableOfContent.astro";
import "../../styles/markdown.css";
import "../../styles/markdown-extend.css";
import ImageCaption from "./ImageCaption.astro";
import { Image } from "astro:assets";

const { entry } = Astro.props;
const words = getWordsCount(entry.body);
const { Content, headings } = await entry.render();
---

<Layout
  title={`Post | ${entry.data.title}`}
  description={entry.data.description}
>
  <div class="text-core-content">
    <!-- TITLE -->
    <h1 class="pb-4 text-4xl font-bold capitalize text-core-content">
      {entry.data.title}
    </h1>

    <div
      class="flex items-center gap-3 pb-4 font-medium text-secondary-content"
    >
      <MetaInfo date={entry.data.publishDate} words={words} />
    </div>

    <!-- BANNER IMAGE -->
    <Image
      src={entry.data.image?.src}
      alt={entry.data.image?.alt}
      width={1600}
      height={900}
      class="rounded-xl"
    />
    <div class="my-8">
      <ImageCaption caption={entry.data.image.caption} />
    </div>
    <!-- TABLE OF CONTENT -->
    <h2 class="pb-4 text-2xl font-extrabold">Table of contents</h2>
    <TableOfContent headings={headings} />
    <!-- CONTENT -->
    <div class="prose pt-8">
      <Content />
    </div>
  </div>
</Layout>

<script>
  import { addCopyCodeButton } from "./codeBlock";
  import { setImageSizeLikeObsidian } from "./image";

  const init = () => {
    setImageSizeLikeObsidian();
    addCopyCodeButton();
  };

  init();
</script>
