---
import MetaInfo from "@components/blog/MetaInfo.astro";
import TableOfContent from "@components/blog/TableOfContent.astro";
import Layout from "@layouts/Layout.astro";
import "../../styles/markdown-extend.css";
import "../../styles/markdown.css";
import ImageCaption from "./ImageCaption.astro";
import { Image } from "astro:assets";
import readingTime from "reading-time";
import { render } from "astro:content";

const { entry } = Astro.props;
const { Content, headings } = await render(entry);
const { words, minutes } = readingTime(entry?.body ?? "");
---

<Layout
  title={`Post | ${entry.data.title}`}
  description={entry.data.description}
>
  <div id="animation-container" class="w-full">
    <!-- TITLE -->
    <h1 class="pb-4 text-4xl font-bold capitalize text-primary">
      {entry.data.title}
    </h1>
    <div
      class="onload-animation flex items-center gap-3 pb-4 font-medium text-secondary-content"
    >
      <MetaInfo date={entry.data.publishDate} words={words} minutes={minutes} />
    </div>

    <!-- BANNER IMAGE -->
    <Image
      src={entry.data.image?.src}
      alt={entry.data.image?.alt ?? ""}
      width={1600}
      height={900}
      class="onload-animation rounded-xl"
    />
    <div class="onload-animation my-8">
      <ImageCaption caption={entry.data.image.caption} />
    </div>
    <!-- TABLE OF CONTENT -->
    <div class="onload-animation">
      <h2 class="pb-4 text-2xl font-extrabold text-primary">
        Table of contents
      </h2>
      <TableOfContent headings={headings} />
    </div>
    <!-- CONTENT -->
    <div class="onload-animation prose select-text pt-8">
      <Content />
    </div>
  </div>
</Layout>

<script>
  import { addCopyCodeButton } from "./codeBlock";
  import { setImageSizeLikeObsidian } from "./image";

  const init = () => {
    setImageSizeLikeObsidian();
    addCopyCodeButton();
  };

  init();
</script>
