---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ActionLinks from "./ActionLinks.astro";
import StackList from "../StackList.astro";
import Highlights from "./Highlights.astro";
import Features from "./Features.astro";
import Badge from "@components/ui/Badge.astro";
import Technologies from "./Technologies.astro";
import "../../../styles/markdown.css";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const {
  title,
  description,
  image,
  status,
  sourceUrl,
  hostedUrl,
  stack,
  highlights,
  features,
} = Astro.props.entry.data;
---

<Layout title={title || "Project"}>
  <div id="animation-container" class="space-y-6">
    <section class="space-y-3">
      <div class="onload-animation inline-flex w-full items-center">
        <div class="mt-auto inline-flex gap-2">
          <h1 class="text-xl font-bold text-title sm:text-2xl">{title}</h1>
          {status === "WIP" && <Badge>{status}</Badge>}
        </div>
        <span class="ml-auto"></span>
        <ActionLinks sourceUrl={sourceUrl} hostedUrl={hostedUrl} />
      </div>
      <p class="onload-animation text-sm text-title/60 xs:text-base">
        {description}
      </p>
      <div class="onload-animation">
        <StackList stack={stack} />
      </div>
      <img src={image} class="onload-animation rounded-lg" />
    </section>
    {highlights && <Highlights highlights={highlights} />}
    {features && <Features features={features} />}
    <Technologies stack={stack} />
  </div>
</Layout>
