---
import { type ProjectType } from "src/content.config";
import StickList from "./StackList.astro";

interface Props extends ProjectType {
  id: string;
}

const { id, title, description, image, stack, sourceUrl } = Astro.props;
---

<div>
  <a href={`/projects/project/${id}`}>
    <div class="mb-6 rounded-xl border border-border p-1">
      <div class="overflow-hidden rounded-lg border border-border">
        <img src={image} class="size-full object-cover" />
      </div>
    </div>
  </a>
  <section class="space-y-2">
    <a
      href={sourceUrl}
      rel="noreferrer"
      target="_blank"
      class="group inline-flex items-center gap-2"
    >
      <h2 class="text-xl font-bold">
        {title}
      </h2>
      {
        sourceUrl && (
          <span class="iconify text-xl transition-transform tabler--arrow-up-right group-hover:translate-x-2 group-hover:rotate-45" />
        )
      }
    </a>
    <p class="text-sm">{description}</p>
  </section>
  <StickList stack={stack} />
</div>
