---
import Icon from "astro-icon";
import { formatDateTime } from "@utils/formatter";

export interface Props {
  date: Date;
  words: number;
  showWordCount?: boolean;
  className?: string;
}
const { date, words, showWordCount = true, className } = Astro.props;

const defaultClasses = "flex items-center gap-1 text-sm";
---

<div class="flex gap-3">
  <span class={`capitalize ${defaultClasses}`}>
    <Icon
      class="icon"
      name="twemoji:spiral-calendar"
      class={`w-4 ${className}`}
    />
    {formatDateTime(date)}
  </span>
  <span>|</span>
  <span class={defaultClasses}>
    <Icon name="noto:popcorn" class={`w-4 ${className}`} />{
      Math.ceil(words / 200)
    }&nbsp;min. read
  </span>
  {
    showWordCount && (
      <>
        <span>|</span>
        <span class={defaultClasses}>
          <Icon name="lucide:edit-3" class={`w-4 ${className}`} />
          {words}
        </span>
      </>
    )
  }
</div>
